.logo-wrapper{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: solid 1px #eee;
}

.logo-wrapper img{
    max-width: 100%;
    max-height: 100px;
}

