body{
    height:100%;
    background-color:white;
    text-align:center;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: "Rubik"
}

/* begin nav bar */

nav{
    width:100%;
}
.navbar .container-fluid{
    width:100%;
    border:none;
    height:auto;
    background-color:unset;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.fa-solid.fa-compress {
    position: relative;
    top: 5px;
}
.nav-link {
    color: #2e2e2e;
    font-size: 13px
}
#signinbutton, #chatbutton {
    border: 2px solid #0653f8;
    border-radius: 10px;
    background-color: white;
    color: #0653f8;
    padding: 5px 20px;
}
#tryfreebutton, #signupbutton {
    border: 2px solid #0653f8;
    border-radius: 10px;
    background-color: #0653f8;
    width: 100px;
    color: white;
    padding: 5px 10px;
}
#navbuttondiv {
    margin-left: 30px;
}

/* end nav, begin header */

#header-title{
    text-align:left;
}


.d-flex-column.leftside h1 {
    font-size: 65px;
    font-weight: 500;
}
.d-flex-column.leftside h2 {
    font-size: 35px;
    font-weight: 400;
}
#focusonsection {
    width: 90vw;
}
#focusonsection .d-flex-column.leftside {
    position: relative;

}
#focusonsection p {
    font-weight: 500;
    color: #9a9a9a;
}
#signupbutton, #chatbutton {
    padding: 10px;
    width: 15vw;
    margin: 10px 10px 10px;
    font-size: 18px;
}
.signin2 {
    font-weight: 500;
    color: #9f9e9e;
}
.signin2 a, .signin2 b {
    color: #848383;
    text-decoration: none;
}

.header-links{
        display:flex;
}

.benefitslist li {
    color: #0653f8;
    font-size: 13px;
    margin-right: 20px
}
.benefitslist span {
    color: black;

}
.col-sm-12, .col-sm-12 ul{
    text-align: center;
    justify-content: center;
}

@media (min-width:576px) {
  .navbar-nav {
    display: block;
    position: relative;
    left: 50px;
  }
  #navbuttondiv {
      position: relative;
      left: 90px
  }
}
@media (min-width:992px) {
    .navbar-nav {
      display: flex;
    }
  }


.first-title{
    text-align:center;
}

#How-It-Works{
    border-top:1px solid lightgrey;
    padding-top: 50px;
    width: 600px;
}

.first-para{
    width: 360px;
     margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 0px;
} 

.second-para{
    text-align:center;
    margin: 80px;
    width: 360px;
    display:flex;
}

/* end header , begin body: content cards */

.container{
    background-color: #0651f8;
    border: 2px solid lightgrey;
    border-radius: 15px;
    width: 800px;
    height: 400px;
}

#col-1{ 
    background-color: white;
    color: white;
    padding-top: 101.5px;
    border-radius: 11px 0px 0px 15px
}

#text-image-1{
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 95px;
}

#text-image-2{
    height: 250px;
    padding-left: 55px;
    margin-right:30px;
    margin-bottom:45px;
}

#container-title{
    text-align: center;
    padding-bottom: 50px;
}

#col-2{
    font-size:small;
    color:white;
    padding-top:75px;
    padding-left: 50px;
    padding-right:50px;
    text-align:left;
}

/* end body: content cards */



/* footer */


.try-today, .full-width{
    width:100%;
    background:#0651f8;
    color: white;
    text-align: center;
    margin-top:50px;
}

.btn-1-color{
    background-color: limegreen !important;
    border:none;
}

.btn-2-color{
    border:none;
    color: #0651f8 !important;
}

.grid-container{
    padding-top:10px;
    width:auto;
}

.footer-buttons{
    width: 400px;
    display:flex;
    justify-content: space-evenly;
    margin-left:auto;
    margin-right:auto;
}

#get-started-btn{
    width: 150px;
}

#chat-bubble-icon{ 
    padding-bottom: 3px;
}

.footer-links{
    padding-top:20px;
    padding-bottom: 50px;
}

#footer-ellipse{
    height:5px;
}
