/* Jordy's Header */



body {
    font-family: "Rubik", sans-serif
}
.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.fa-solid.fa-compress {
    position: relative;
    top: 5px;
}
.nav-link {
    color: #2e2e2e;
    font-size: 13px
}
#signinbutton, #chatbutton {
    border: 2px solid #0653f8;
    border-radius: 10px;
    background-color: white;
    color: #0653f8;
    padding: 5px 20px;
}
#tryfreebutton, #signupbutton {
    border: 2px solid #0653f8;
    border-radius: 10px;
    background-color: #0653f8;
    width: 100px;
    color: white;
    padding: 5px 10px;
}
#navbuttondiv {
    margin-left: 30px;
}
.d-flex-column.leftside h1 {
    font-size: 65px;
    font-weight: 800;
}
.d-flex-column.leftside h2 {
    font-size: 35px;
    font-weight: 400;
}
#focusonsection {
    width: 90vw;
}
#focusonsection .d-flex-column.leftside {
    position: relative;

}
#focusonsection p {
    font-weight: 800;
    color: #9a9a9a;
}
#signupbutton, #chatbutton {
    padding: 20px;
    width: 15vw;
    margin: 20px 10px 20px;
    font-size: 20px;
}
.signin2 {
    font-weight: 800;
    color: #9f9e9e;
}
.signin2 a, .signin2 b {
    color: #848383;
    text-decoration: none;
}
.benefitslist li {
    color: #0653f8;
    font-size: 13px;
    margin-right: 20px
}
.benefitslist span {
    color: black;

}
.col-sm-12, .col-sm-12 ul{
    text-align: center;
    justify-content: center;
}

@media (min-width:576px) {
  .navbar-nav {
    display: block;
    position: relative;
    left: 50px;
  }
  #navbuttondiv {
      position: relative;
      left: 90px
  }
}
@media (min-width:992px) {
    .navbar-nav {
      display: flex;
    }
  }
